/* @keyframes example{
    from{
        background-color: white;
        color:rgb(219, 55, 101)
    }
    to{
        background-color: rgb(219, 55, 101);
        color: white;
    }
} */
footer {
    font-family: inconsolata;
}

* {
    margin: 0;
    padding: 0;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.start {
    background-image: url("../images/background_images/front-bg.png"), url("../images/background_images/front-bg2.png");
    background-repeat: no-repeat;
    height: 51.3vw;
}

header {
    /* position: fixed; */
    overflow: hidden;
    height: 100px;
    width: 100%;
    /* background-color: #F3F6FD; */
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    width: 60%;

}

.nav1 a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav1 a:hover {
    color: rgb(219, 55, 101);
}

.nav2 {
    /* background-color: cyan; */
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.nav1,
.nav2 {
    padding: 30px 0;
    font-size: 20px;
}

.search {
    color: rgb(219, 55, 101);
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    /* display: flex; */
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

.nav {
    display: flex;
    /* margin-top: 100px; */
}

.nav_left {
    width: 55%;
    padding: 200px 0 20px 80px;
    /* background-color: yellow; */
}

.nav_1 {
    color: rgb(219, 55, 101);
    font-size: 20px;
}

.nav_2 {
    font-size: 70px;
    font-family: 'Kdam Thmor Pro';
}

.nav_left button {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    background-color: rgb(219, 55, 101);
    color: white;
    margin-top: 30px;
    font-weight: bold;
}

.nav_right {
    width: 45%;
    padding-top: 50px;
}

.right1 img {
    width: 100%;
    height: 100%;
}

.right2 img {
    position: absolute;
    /* position: fixed; */
    top: 25%;
    animation: rotation 8s infinite linear;
}

.right3 img {
    position: absolute;
    /* position: fixed; */
    bottom: 0;
    animation: rotation 8s infinite linear;
}

.right4 img {
    position: absolute;
    /* position: fixed; */
    top: 15%;
    right: 3%;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* main {
    background-color: #F3F6FD;
    background-color: #feedf4;
} */

.register_button {
    width: 250px;
    top: 59%;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    left: 1%;
    height: 61px;
    position: absolute;
    background-color: rgb(219, 55, 101);
    color: white;
    cursor: pointer;
}

.image {
    display: flex;
    width: 40%;
    /* background-color: yellow; */
    flex-direction: column;
    align-items: end;

}

.image2 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.image3 {
    /* height: 70%; */
    width: 60%;
}

/* 

.works_head{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    /* padding-top: 50px; 
    padding-bottom: 30px;
}
.work_line{
    border: none;
    border-radius: 20px;
    width: 100px;
    background-color: red;
    height: 3px;
}
.work-box{
    width: 300px;
    height: 370px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.works_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.work-circle{
    width:150px;
    height:100px;
    font-size: 300%;
    color: rgb(219, 55, 101);
    background-color: white;
    padding-top: 50px;
    border-radius: 50%;
    margin-left: 72px;
    font-weight: 800;
    border: 2px solid rgb(208, 208, 208)
}
.work-circle:hover{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}
.circle-head{
    font-weight: 600;
    font-size: 20px;
}
.circle_line{
    border: none;
    border-radius: 20px;
    width: 50px;
    background-color: red;
    height: 3px;
    margin-left: 120px;
} */
/* 
.container{
    position: relative;
    margin-top: 50px;
}
.container img{
    width: 100%;
    height: auto;
}
.container .news_email {
    position: absolute;
    top: 60%;
    left: 61%;
    font-size: 20px;
    width: 370px;
    height: 67px;
    padding-left: 10px;
    border: none;
    border-radius: 50px;
} 
.container .news_submit{
    position: absolute;
    top: 61.5%;
    left: 76%;
    font-size: 20px;
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 50px;
    background-color: rgb(219, 55, 101);
    color: white;
}*/
.imgBox { 
    display: inline-block; 
    overflow: hidden; 
  }
  .imgBox img {
    display: block;
    transition: .5s ease-in-out;
  }
  .imgBox:hover img {
    transform: scale(1.15);
  }
.art {
    padding: 10px 0 30px 0;
    margin: 0 80px;
    margin-bottom: 50px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head-a {
    display: flex;
    flex-direction: column;
}

.head-b {
    font-size: 40px;
    font-weight: 600;
}

.head button {
    padding: 10px 45px;
    border-radius: 20px;
    background-color: rgb(219, 55, 101);
    border: none;
    font-size: 20px;
    color: white;
}

.head button:hover {
    /* background-image: linear-gradient(180deg, rgb(219, 55, 101), rgb(255, 196, 213)); */
    background-color: rgb(26, 31, 88);
}

.auction {
    margin-top: 50px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* margin: 0 80px; */
}

.a1 {
    /* height: 550px; */
    /* color: rgb(219, 55, 101); */
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    text-align: center;
    height: 500px;
    /* font-size: 27px; */
    width: 30%;
    box-shadow: 5px 10px 18px #888888;
}

.a1 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.a1_head {
    text-align: left;
    /* font-weight: 500; */
    padding-left: 30px;
    font-size: 20px;
}

.a1_timer {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    color: rgb(219, 55, 101);
    /* margin-left: 100px; */
    font-size: 20px;
    padding-top: 30px;
}

.timer {
    padding-left: 5px;
}

.a1_bid {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

.a1_bid button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    background-image: linear-gradient(180deg, rgb(219, 55, 101), rgb(255, 196, 213));
    color: white;
    cursor: pointer;
}




.news_submit:hover,
#c1:hover,
#seemore:hover,
.register_button:hover {
    background-color: rgb(157, 214, 157);
}
.categories_head{
    margin: 0 80px;
}
    /* font-size: 35px; */
    /* font-weight: bold; */
.categories{
    padding: 50px 15px;
    margin: 0 auto;
}
.splide-box{
    height: 70vh;
    width: 100%;
    background-size: contain;
    /* object-fit: fill; */
    /* background-size: cover; */
    background-repeat: no-repeat;

}
.splide__arrow{
    opacity: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(219, 55, 101);
}

/* 
.head_scroll {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
}

.line_Scroll {
    width: 150px;
    margin-left: 650px;
    height: 3px;
    border-radius: 50px;
    background-color: rgb(219, 55, 101);
    margin-top: 30px;
}

.practice2 {
    overflow: auto;
    white-space: nowrap;
    height: 650px;
}

.practice {
    margin: 5px;
    display: inline-block;
    margin-top: 70px;
}

#a1 {
    height: 550px;
    color: rgb(219, 55, 101);
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    font-size: 27px;
}

#b1,
#z1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#z1 {
    color: black;
}

#c1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(219, 55, 101);
    color: white;
    height: 40px;
    width: 150px;
    font-size: 18px;
    border: none;
    margin-top: 5px;
}

#seemore {
    margin-left: 20px;
    font-size: 25px;
    border-radius: 50px;
    background-color: rgb(219, 55, 101);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 50px;
} */

.footer1 {
    background-color: rgb(49, 50, 54);
    color: white;
    display: flex;
    justify-content: space-around;
}

.foot1,
.foot2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#email {
    border-radius: 20px;
    width: 200px;
    height: 32px;
    padding-left: 5px;
}

.submit {
    background-color: rgb(219, 55, 101);
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 50px;
    color: white;
    border: none;
}

.footer2 {
    background-color: rgb(49, 50, 54);
    color: white;
}

.foot3 {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.foot3 li {
    display: inline;
    margin-right: 20px;
    padding-left: 20px;
}

.foot3 a {
    text-decoration: none;
    color: white;
}

#copy {
    padding-left: 335px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-github {
    padding: 8px 8px;
    text-decoration: none;
    color: white;
    height: 20px;
}