
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 100px;
    background-color: yellow;
}
.imagee img{
    height: auto;
    width: 100%;
}
/* .faq{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}
.accordion{
    max-width: 530px;
    width: 100%;
    background: #FFF;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  2px 2px 4px rgba(0,0,0,0.2);
}
.accordion .accordion-content{
    margin: 10px 0;
    border-radius: 4px;
    background: #FFF7F0;
    border: 1px solid #888888;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 10px;
    overflow: hidden;
}
.accordion-content:nth-child(2){
    background-color: #F0FAFF;
    border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
    background-color: #FFF0F3;
    border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
    background-color: #F0F0FF;
    border-color: #CCCCFF;
}
.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 35px;
}
.accordion-content header .title{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.accordion-content header i{
    font-size: 15px;
    color: #333;
    color: red;
}
.accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}
.image-box img {
    height: 38rem;
    width: auto;
} */
.contact-box{
    display: flex;
    gap: 10%;
    margin: 80px 8%;
    font-family: inconsolata;
}
.contact{
    width: 60%;
}
.contact div{
    height: 30px;   
}
.contact .heading{
    font-size: 40px;
    font-weight: bold;
}
.contact hr{
    height: 3px;
    background-color: rgb(216,55,101);
    border: none;
    border-radius: 15px;
    width: 100px;
    /* margin-left: 50px; */
    margin-top: 30px;
}
.contact .content {
    height: auto;
    font-size: 20px;
    color: rgb(124, 124, 124);
    margin-top: 40px;
    /* margin-bottom: 20px; */
}
.first-box{
    display: flex;
    justify-content: space-between;
    margin:50px 0; 
}
.first-box input, .first-box textarea{
    height: 45px;
    width: 330px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    color: rgb(124, 124, 124);
    background-color: #F3F6FD;
}
.first-box textarea{
    width: 100%;
    height: 150px;
    padding: 10px 10px;
}
.first-box button{
    margin-top: 100px;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: rgb(216,55,101);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.reach{
    width: 35%;
}
.reach .heading{
    font-size: 23px;
    font-weight: bold;
}
.reach hr{
    margin: 10px 0;
    border: .5px solid rgb(190, 190, 190);
}
.reach .main{
    display:  flex;
    gap: 15px;
    font-size: 17px;
    color: rgb(124, 124, 124);
    margin-bottom: 80px;
}
.reach i{
    color: green;
    font-size: 20px;
}
.map{
    width: 100%;
    height: 150px;
}
.footer1 {
    margin-top: 300px;
    background-color: rgb(49, 50, 54);
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: inconsolata;
}

.foot1,
.foot2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#email {
    border-radius: 20px;
    width: 200px;
    height: 32px;
    padding-left: 5px;
}

.submit {
    background-color: rgb(219, 55, 101);
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 50px;
    color: white;
    border: none;
}

.footer2 {
    background-color: rgb(49, 50, 54);
    color: white;
    font-family: inconsolata;
}

.foot3 {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.foot3 li {
    display: inline;
    margin-right: 20px;
    padding-left: 20px;
}

.foot3 a {
    text-decoration: none;
    color: white;
}

#copy {
    padding-left: 335px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-github {
    padding: 8px 8px;
    text-decoration: none;
    color: white;
    height: 20px;
}